* {
    padding:0px;
    margin:0px;
    font-family:sans-serif;

}


body {
    padding-left:150px;
    padding-right:150px;
    padding-top:40px;
    min-width:200px;
    background-color:rgb(225,240,255);
}

h1#header {
    text-align:center;
    font-size:50px;
    margin: 50px 0px;
}


div.section {
    position:relative;
    width:auto;
    height:auto;
    
    padding:10px;

    margin-top:20px;
    margin-bottom:20px;

    background-color:rgba(255, 255, 255, 0.6);

    font-size:16px;
}

div.warning {
    background-color:rgba(255, 0, 0, 0.2);
    border: 2px solid #cc3333;
    color: #fff;
    text-align:center;
    font-size:11px;
}

.code {
    display:block;
    background-color:rgba(255, 255, 255, 8);
    margin: 10px 0px;
    padding:10px;
}
pre {
    font-family:monospace;
}

