* {
    padding:0px;
    margin:0px;
    font-family:sans-serif;
}

body {
    padding-top:40px;
    padding-bottom:20px;
    background-color:rgb(225,240,255);
}

h1 {
    margin: 10px 0px 20px 0px;
    color:#333;
    letter-spacing:-2px;
}

h1, h2 {
    font-family:Verdana, sans-serif;
    text-transform:uppercase;
    font-weight:bold;
}

h2 {
    font-size:16px;
    line-height:21px;
    margin: 0px 0px -10px 0px;
}

h1#header {
    color:#000;
    text-transform:none;
    text-align:center;
    font-size:51px;
    line-height:44px;
    font-weight:bold;
    margin: 30px 0px;
}


div.section {
    width:700px;
    
    padding:10px 20px;

    margin:30px auto;

    background-color:rgba(255, 255, 255, 0.6);

    font-size:16px;
    line-height:20px;
}

ul {
    margin: 0px 20px;
}

div.small {
    font-size:11px;
    line-height:15px;
}

div.warning {
    background-color:rgba(255, 0, 0, 0.2);
    color: #333;
    text-align:center;
}

div.packed, div.section.packed, div.warning.packed, div.small.packed {
    margin: -30px auto;
}

.code {
    display:block;
    background-color:rgba(255, 255, 255, 8);
    margin: 10px 0px;
    padding:10px;
}
pre {
    font-family:monospace;
}

table {
    border: 0px;
    
}

td {
    border: 1px solid #333;
    padding: 5px;
}

a, a:visited, a:link {
    text-decoration:underline;
    color:#33a;
}

a:hover {
    color: #a33;
}

a#showbtn, a#showbtn:visited, a#showbtn:link {
    text-decoration:none;
    display:block;
    position:fixed;
    top:0px;
    left: 100px;
    font-family:monospace;
    font-size:20px;
    background-color:rgba(255, 255, 255, 0.95);
    padding: 10px;
    margin-left: 20px;
}

a#indexbtn, a#indexbtn:visited, a#indexbtn:link {
    text-decoration:none;
    display:block;
    position:fixed;
    top:0px;
    left: 10px;
    font-family:monospace;
    font-size:20px;
    background-color:rgba(255, 255, 255, 0.95);
    padding: 10px;
    margin-left: 20px;
}

div#list {
    position:fixed;
    left:100px;
    top:40px;
    font-family:monospace;
    font-size:20px;
    background-color:rgba(255,255,255,0.95);
    padding:0px 20px 10px 20px;
    margin:0px 0px 0px 20px;
}

div#footer {
    position:relative;
    height:40px;
    width:100%;
    font-family:monospace;
    text-align:center;
    clear:left;
}

ul li {
    margin:10px 0px;
}

img {
    display:block;
    max-width:660px;
    text-align:center;
    margin:0px auto;
}
sub.imgsub {
    display:block;
    text-align:center;
    margin:0px auto;
}

div#chapbuttons {
    width:700px;
    position:relative;
    margin:0px auto;
    padding:0px;
}

a#prevchap, a#nextchap {
    position:relative;
    display:block;
    width:340px;
    margin: 0px 0px 20px -20px;
    padding: 10px 10px;
    text-align:left;
    background-color:rgba(255, 255, 255, 0.6);
    text-decoration:none;
    font-size:18px;
}
a#nextchap {
    float:right;
    margin: 0px -20px 20px 0px;
    margin-left:20px;
    text-align:right;
}
div.footnote {
    display:none;
}
